html {
    scroll-behavior: smooth;
    margin-left: 8em;
}

body {
    background-color: #121921;
    color: #9abdd9;
    font-family:'Assistant', sans-serif;
}

header {
    font-family: 'Frank Ruhl Libre', serif;
    text-align: center;
}

header img {
    float: center;
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #E991C0;
    overflow-x: hidden;
    padding-top: 20px;
    margin-left: -10px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #121921;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #F4EEEF;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: #de91d5;
    color: #121921;
    font-weight: bold;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #eda0de;
  padding-left: 1px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 2px;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #9abdd9; /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 30px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #cd95ce; /* Add a dark-grey background on hover */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
}
