html {
    scroll-behavior: smooth;
}

body {
    background-color: #121921;
    color: #9abdd9;
    font-family:'Assistant', sans-serif;
}

header {
    margin-left: 8em;
    text-align: center;
    padding-bottom: 3em;
}

h1 {
    font-family: 'Frank ruhl libre', sans-serif;
    color: #f4eeef;
    text-shadow: 1px 1px 2px black, 0 0 30px #f02c68, 0 0 5px #CD95CE;
    font-size: 40px;
    text-decoration: underline;
}

#billede img {
    margin-left: 32%;
    width: 70%;
    max-width: 400px;
    border-radius: 100%;
}

#tekst p {
    padding-top: 5em;
    margin-left: 30%;
    text-align: center;
    padding-bottom: 10em;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #e991c0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #121921;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f4eeef;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #cd95ce;
   color: white;
    font-weight: bold;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #cc8ace;
  padding-left: 2px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 40px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #9abdd9; /* Set a background color */
    color: black; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 20px; /* Some padding */
    border-radius: 30px; /* Rounded corners */
    font-weight: bold;
}

#myBtn:hover {
    background-color: #cd95ce; /* Add a dark-grey background on hover */
}

.footer {
   position: fixed;
   left: 60px;
   bottom: 0;
   width: 100%;
   background-color: #e991c0;
   color: white;
   text-align: center;
    font-size: 10px;
}

@media screen and (min-width: 700px) {
    
    header {
        font-size: 20px;
        padding-left: 2em;
        padding-right: 2em;
    }
    
  .sidenav {
      padding-top: 15px;
    }
  .sidenav a {
      font-size: 18px;
    }
    
    
}


@media screen and (min-width: 1000px) {
   
   
}
